.thumbnail-scroll {
  overflow: hidden;
  cursor: grab;
  user-select: none;
  box-sizing: content-box;
  * {
    box-sizing: border-box;
  }
  .thumbnail-scroll-rect {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border: solid 1px red;
    cursor: move;
  }
  .thumbnail-scroll-container {
    pointer-events: none;
    transform-origin: 0 0 0;
    &.is-skeleton {
      position: relative;
    }
  }
  .thumbnail-skeleton-item {
    position: absolute;
  }
}
